<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if or (eq .Lang "ar") (eq .Lang "fa") }}dir="rtl" {{ end }}>

<head>
  {{ partial "head-meta.html" . }}

  {{ block "schema-dot-org" . }}
  <!-- schema.org metadata differs for Nodes and Pages -->
  {{ end }}

  <link rel="canonical" href="{{ .Permalink }}">

  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  {{ $sassBS := resources.Get "css/bootstrap.scss" }}
  {{ $styleBS := $sassBS | resources.ToCSS }}
  <link href="{{ $styleBS.Permalink }}" rel="stylesheet" {{ if not .Site.Params.disable_sri }}
    integrity="{{ $styleBS.Data.Integrity }}" crossorigin="anonymous" {{ end }}>

  {{ $sassCustom := resources.Get "css/custom.scss" }}
  {{ $styleCustom := $sassCustom | resources.ToCSS }}
  <link href="{{ $styleCustom.Permalink }}" rel="stylesheet" {{ if not .Site.Params.disable_sri }}
    integrity="{{ $styleCustom.Data.Integrity }}" crossorigin="anonymous" {{ end }}>
  <script src="https://kit.fontawesome.com/60931e208a.js" crossorigin="anonymous"></script>
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lunr/lunr.js"></script> -->

  {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ if .Site.GoogleAnalytics }}
  {{ partial "cookie-consent.html" . }}
  {{ end }}

  {{ partial "head-custom.html" . }}
</head>

<body>


  {{ block "masthead" . }}
  <div class="blog-masthead sticky-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg nav blog-nav">
        <a id="logo-menu" class="navbar-brand siteTitle" href="{{ .Site.BaseURL | absURL }}"
          rel="home">{{ .Site.Title | safeHTML }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span style="color: white;" class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
              <a class="nav-link {{ if .IsHome }}active{{ end }}" href="{{ .Site.BaseURL | absLangURL }}">সদর</a>
            </li>
            {{- $currentPage := . -}}
            {{ range .Site.Menus.navbar }}
            {{ $menuURL := .URL | absLangURL }}
            <li class="nav-item">
              <a class="nav-link{{ if or ($currentPage.IsMenuCurrent "navbar" .) ($currentPage.HasMenuCurrent "navbar" .) }} active{{end}}"
                href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
            {{ end }}
            <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li> -->
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

        </div>

        <!-- <a class="nav-link {{ if .IsHome }}active{{ end }}" href="{{ .Site.BaseURL | absLangURL }}">সদর</a> -->
        <!-- {{- $currentPage := . -}}
        {{ range .Site.Menus.navbar }}
        {{ $menuURL := .URL | absLangURL }}
        <a class="nav-link{{ if or ($currentPage.IsMenuCurrent "navbar" .) ($currentPage.HasMenuCurrent "navbar" .) }} active{{end}}"
          href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }} -->
      </nav>
    </div>
  </div>
  {{ end }}

  {{ block "header" . }}
  {{ if (ne .Site.Params.header_visible false) }}
  <header class="blog-header">
    <div class="container">
      <h1 class="blog-title" dir="auto"><a class="siteTitle" href="{{ .Site.BaseURL | absURL }}"
          rel="home">{{ .Site.Title | safeHTML }}</a></h1>
      {{ if .Site.Params.description }}<p class="lead blog-description" dir="auto">
        {{ .Site.Params.description | markdownify }}</p>{{ end }}
    </div>
  </header>
  {{ end }}
  {{ end }}

  {{ block "body" . }}
  <div class="container">
    <div class="row">
      <div class="col-sm-8 blog-main">

        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}

      </div> {{ "<!-- /.blog-main -->" | safeHTML }}

      {{ partial "sidebar.html" . }}

    </div> {{ "<!-- /.row -->" | safeHTML }}
  </div> {{ "<!-- /.container -->" | safeHTML }}
  {{ end }}

  {{ block "footer" . }}
  <footer class="blog-footer">
    <p dir="auto">
      {{ if .Site.Copyright }}
      {{ .Site.Copyright | markdownify }}
      {{ else }}
      Blog template created by <a href="https://twitter.com/mdo">@mdo</a>, ported to Hugo by <a
        href='https://twitter.com/mralanorth'>@mralanorth</a>.
      {{ end }}
    </p>
    <p>
      <a href="#">{{ i18n "backToTop" }}</a>
    </p>
  </footer>
  {{ end }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
    integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
    crossorigin="anonymous"></script> 
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  <!-- <script crossorigin="anonymous"
    src="https://polyfill.io/v3/polyfill.min.js?flags=gated%2Calways&features=Promise"></script> -->

  <script>
    (function ($) {
      $(document).ready(function () {

        // hide .navbar first
        $("#logo-menu").hide();

        // fade in .navbar
        $(function () {
          $(window).scroll(function () {

            // set distance user needs to scroll before we start fadeIn
            if ($(this).scrollTop() > 160) {
              $('#logo-menu').fadeIn();
            } else {
              $('#logo-menu').fadeOut();
            }
          });
        });

      });
    }(jQuery));
  </script>
</body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}

